<div class="ui top fixed menu inverted large">
  <a class="item" (click)="sidebar.toggle()">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<sui-sidebar-container class="ui bottom attached segment">
  <sui-sidebar class="inverted vertical" #sidebar>
    <a class="item"href="/home">Home</a>
    <a class="item" href="/employees">Employees</a>
    <a class="item" href="/departments">Departments</a>
    <a class="item" href="/bills">Bills</a>
    <a class="item" href="/accomodations">Accomodations</a>
    <a class="item" href="/clients">Clients</a>
    <a class="item" href="/rooms">Rooms</a>
  </sui-sidebar>
  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
    <router-outlet></router-outlet>
  </sui-sidebar-sibling>
</sui-sidebar-container>
