<p-dataTable [value]="clients" selectionMode="single" [(selection)]="selectedClient" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true">
    <p-header>CRUD for Clients</p-header>
    <p-column field="id" header="Client id" [sortable]="true"></p-column>
    <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
    <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
    <p-column field="cnp" header="CNP" [sortable]="true"></p-column>
    <p-column field="address" header="Address" [sortable]="true"></p-column>
    <p-column field="phone" header="Phone" [sortable]="true"></p-column>
    <p-column field="email" header="Email" [sortable]="true"></p-column>

    <p-footer>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add">
        </button>
      </div>
    </p-footer>

  </p-dataTable>
  
  <p-dialog header="Client Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedClient">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="firstName">First Name</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="firstName" [(ngModel)]="selectedClient.firstName" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="lastName">Last Name</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="lastName" [(ngModel)]="selectedClient.lastName" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="cnp">CNP</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="cnp" [(ngModel)]="selectedClient.cnp" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="address">Address</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="address" [(ngModel)]="selectedClient.address" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="phone">Phone</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="phone" [(ngModel)]="selectedClient.phone" />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="email">Email</label>
        </div>
        <div class="ui-grid-col-8">
          <input pInputText id="email" [(ngModel)]="selectedClient.email" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa-close" (click)="deleteClient()" label="Delete"></button>
        <button type="button" pButton icon="fa-check" (click)="updateClient()" label="Save"></button>
      </div>
    </p-footer>
  </p-dialog>
  
 