<button pButton type="button" (click)="toggle()" style="margin-bottom:10px" label="Toggle" icon="fa-list"></button>

<p-dataTable [value]="rooms" selectionMode="single" [(selection)]="selectedRoom" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true" [stacked]="stacked">
  <p-header>CRUD for Rooms</p-header>
  <p-column field="id" header="Room id"></p-column>
  <p-column field="roomType" header="Roomtype"></p-column>
  <p-column field="nrAdults" header="No of Adults"></p-column>
  <p-column field="nrChildrens" header="No of Childrens"></p-column>
  <p-column field="priceNight" header="Price/night"></p-column>

  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add">
      </button>
    </div>
  </p-footer>

</p-dataTable>

<p-dialog header="Room Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedRoom">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="roomType">Roomtype</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="roomType" [(ngModel)]="selectedRoom.roomType" />
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="nrAdults">No of Adults</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="nrAdults" [(ngModel)]="selectedRoom.nrAdults" />
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="nrChildrens">No of Childrens</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="nrChildrens" [(ngModel)]="selectedRoom.nrChildrens" />
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="priceNight">Price/Night</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="priceNight" [(ngModel)]="selectedRoom.priceNight" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="deleteRoom()" label="Delete"></button>
      <button type="button" pButton icon="fa-check" (click)="updateRoom()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>